.carModel {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.modelSpan {
  font-size: 16px;
  color: var(--gray);
}

.carDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.locationMilage {
  display: flex;
  gap: 16px;
}

.location {
  display: flex;
  align-items: baseline;
}

.price {
  color: var(--button);
}

.description {
  width: 488px;
}

.img {
  fill: blue;
}

@media (min-width: 768px) and (max-width: 1190px) {
}

@media (max-width: 768px) {
  .carDetails {
    margin-bottom: 20px;
  }

  .description {
    width: 350px;
  }
}
