.container {
  /* width: 1200px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1190px) {
  .container {
    width: 1200px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  row-gap: 48px;
  list-style: none;
  margin-bottom: 80px;
  margin-top: 56px;
}

.btn {
  border-radius: 12px;
  padding: 12px 99px;
  margin-bottom: 124px;

  font-weight: 500;
  font-size: 16px;

  background-color: transparent;
  border: 1px solid var(--button);
  cursor: pointer;
  transition: border 250ms linear;
}

.btn:hover {
  border: 1px solid var(--button-hover);
}

.notFound {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1190px) {
  /* .container {
    width: 584px;
  } */

  .list {
    margin-top: 36px;
    margin-bottom: 50px;
  }

  .btn {
    margin-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .list {
    margin-top: 36px;
    margin-bottom: 50px;
  }

  .btn {
    margin-bottom: 90px;
  }
  /* .container {
    width: 300px;
  } */
}
